<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <title>{% block title %}Gelado Bom{% endblock %}</title>
  </head>
  <body>
    <div class="nav">
      <nav class="navbar">
        <ul>
          <div class="nav-main">
            <li>
              <a href="http://127.0.0.1:8000/"
                ><img
                  class="nav-icon"
                  src="{% static 'img/mamute.png' %}"
                  alt="Logo do Açaí Mamute"
              /></a>
            </li>
          </div>
          <div class="nav-produtos">
            <li>
              <a href="http://127.0.0.1:8000/picoles" class="nav-item"
                >Picolés</a
              >
            </li>
            <li>
              <a href="http://127.0.0.1:8000/sorvetes" class="nav-item"
                >Sorvetes & Açaí</a
              >
            </li>
          </div>
          <li class="shop">
            <img class='shop-svg selected' src="{% static "img/shop.svg" %}"
            alt="Ícone do carrinho de compras">
            <div class="shop-dropdown">
            {% if not cartPicoles and not cartSorvetes %}
              <div class='empty-shop'>
                <p>O carrinho está vazio.</p>
              </div>  
            {% else %}
                {% if cartPicoles %}
                <div class="shop-picoles">
                  <h2>Picolés</h2>
                  {% for cartPicole in cartPicoles %} 
                  {% if cartPicole.quantidade <= 0 %} 
                  {% else %}
                  <div class="cart-products">
                    <div style="display: flex; gap: 4px">
                      •
                      <p>{{cartPicole.produto}}</p>
                    </div>
                    <p>{{cartPicole.quantidade}}x</p>
                  </div>
                    {% endif %} 
                  {% endfor %} 
                </div>
                {% endif %}
                {% if cartSorvetes %}
                <div class="shop-sorvetes">
                  <h2>Sorvetes</h2>
                  {% for cartSorvete in cartSorvetes %}
                  {% if cartSorvete.quantidade <= 0 %} 
                  {% else %}
                  <div class="cart-products">
                    <div style="display: flex; gap: 4px">
                      •
                      <p>{{cartSorvete.produto}}</p>
                    </div>
                    <p>{{cartSorvete.quantidade}}x</p>
                  </div>
                    {% endif %} 
                  {% endfor %} 
                </div>
                {% endif %}
              {% endif %}
              <button class="shop-button">Comprar</button>
            </div>
          </li>
        </ul>
      </nav>
    </div>
    <main class="main">{% block content %} {% endblock %}</main>
    <footer>
      <img src="{% static 'img/mamute.png'%}"/>
    </footer>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/cart.js' %}"></script>
    <script type="text/javascript">
      function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== "") {
          const cookies = document.cookie.split(";");
          for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === name + "=") {
              cookieValue = decodeURIComponent(
                cookie.substring(name.length + 1)
              );
              break;
            }
          }
        }
        return cookieValue;
      }
      const csrftoken = getCookie("csrftoken");
    </script>
    <script
  </body>
</html>
